.DS_Store
*.dblite
*.o
*~
*.cpp~
*.h~
*.txt#
doc/.#goals.txt
protos/tilemap/tilemap
*.pdb
*.suo
*.opensdf
*.sdf
*.vcxproj.user
*.ilk
*.org#
*.TeamCity.user
*.tlog
*.obj
*.pdb
*.lastbuildstate
*.manifest
*.log
*.res
*.rc
*.idb
*.ipch
protos/combat/combat
protos/dialogue/dialogue
protos/editor/editor
Nultima.sln
bin
build/vs2010
intermediates
!*.premake4.exe
*.exe