.DS_Store
*.dblite
*.o
*~
*.cpp~
*.h~
*.txt#
doc/.#goals.txt
protos/tilemap/tilemap
*.pdb
*.exe
*.suo
*.opensdf
*.sdf
*.vcxproj.user
*.ilk
*.org#
*.TeamCity.user
*.tlog
*.obj
*.pdb
*.lastbuildstate
*.manifest
*.log
*.res
*.rc
*.idb
*.ipch

